<div class="container mt-5">
  <section class="my-3">
    <div class="row text-center m-2 justify-content-center">
      <div class="col">
        <h4>Date Picker</h4>
      </div>
      <div class="col offset-md-6">
        <a
          target="_blank"
          matTooltip="Edit on Stackblitz"
          matTooltipPosition="above"
          href="https://stackblitz.com/edit/jj-date-picker"
          ><mat-icon svgIcon="electric_bolt">electric_bolt</mat-icon></a
        >
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row row-cols-2 mt-4">
      <div class="col">
        <mat-card class="demo-inline-calendar-card">
          <mat-calendar [(selected)]="selected"></mat-calendar>
        </mat-card>
      </div>
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </section>
</div>

